.test {
    --sport-digi-background: #262626;
        --sport-digi-background-foreground: #ffffff;
        --sport-digi-background--lighten-9: #3d3d3d;
        --sport-digi-background--darken-10: #0c0c0c;
        --sport-digi-background--darken-20: #000;
        --sport-digi-foreground: #FFFFFF;
        --sport-digi-foreground-foreground: #000000;
        --sport-digi-foreground--opacity-10: rgba(255, 255, 255, 0.1);
        --sport-digi-foreground--opacity-40: rgba(255, 255, 255, 0.4);
        --sport-digi-foreground--opacity-50: rgba(255, 255, 255, 0.5);
        --sport-digi-foreground--opacity-60: rgba(255, 255, 255, 0.6);
        --sport-digi-foreground--opacity-80: rgba(255, 255, 255, 0.8);
        --sport-digi-accent: #F6F195;
        --sport-digi-accent-foreground: #000000;
        --sport-digi-brand--static: #F6F195px;
}