/* Minification failed. Returning unminified contents.
(628,44): run-time error CSS1030: Expected identifier, found '.'
(628,60): run-time error CSS1031: Expected selector, found ')'
(628,60): run-time error CSS1025: Expected comma or open brace, found ')'
(1454,60): run-time error CSS1030: Expected identifier, found ','
(1454,82): run-time error CSS1031: Expected selector, found ')'
(1454,82): run-time error CSS1025: Expected comma or open brace, found ')'
 */
body,
button,
input {
    font-family: 'Roboto', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

.lca-main-content button:focus {
    outline: none;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}


.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
    flex-basis: 0;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.list-inline-item {
    display: inline-block;
}

.btn-unstyled {
    background: none;
    border: none;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-bold {
    font-weight: 500;
}

.text-small {
    font-size: 12px;
    line-height: 16px;
}

.text-normal {
    font-size: 14px;
    line-height: 16px;
}

.lca-title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.scroll-x {
    overflow-x: auto;
    position: relative;
}

.m-0 {
    margin: 0
}

.mb-0 {
    margin-bottom: 0;
}

.lca-main-content {
    /*padding-bottom: 20px;*/
}

.lca-main-content .scrolled-container {
    padding: 0 15px;
    width: fit-content;
    min-width: 100%;
    white-space: nowrap;
}

.lca-main-content .scrolled-container-r2 {
    /*height: calc((100vw - 38px) * 0.67 + 126px);*/
    max-height: calc(67.2vw + 100px);
    flex-direction: column;
    flex-wrap: wrap;
}

.lca-main-content .scrolled-container-no-footer {
    max-height: 70vw;
}

.lca-main-content .scrolled-container-r2 .lca-card-wrapper:last-child {
    padding-right: 15px;
    width: 50vw;
}

.lca-main-content .icon_arrow_down:after {
    font-family: ProductIconsFont;
    content: "\32";
    font-size: 14px;
    font-style: normal;
    display: inline-block;
}


.lca-main-content .open .icon_arrow_down:after {
    transform: rotateX(180deg);
}

.lca-dropdown-toggle {
    text-transform: uppercase;
}

.lca-dropdown-toggle .icon_arrow_down {
    margin-left: 17px;
}

.lca-filter-toggle-text {
    padding: 0 14px;
}

.lca-main-content .like_icon {
    margin: -2px 5px 0;
    font-size: 14px;
    line-height: 1;
}

.lca-main-content .like_icon:after {
    font-family: iconsFont;
    content: "";
}

.lca-main-content .like_icon.active:after,
.lca-game-preview-card .like_icon.active:after {
    font-family: iconsFont;
    content: "\e90d";
}

.lca-main-content .star_icon,
.lca-game-preview-card .star_icon {
    font-size: 16px;
    line-height: 1;
}

.lca-main-content .star_icon:after,
.lca-game-preview-card .star_icon:after {
    font-family: iconsFont;
    content: "\e913";
}

.lca-main-content .star_icon.active:after,
.lca-game-preview-card .star_icon.active:after {
    font-family: iconsFont;
    content: '';
}

.lca-main-content #header {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.lca-main-content .with_shadow_slider {
    margin-bottom: -140px;
}

.lca-lobby-banner {
    position: relative;
}

.lca-lobby-banner+.js_lobby_groups_cont.hidden+.bg-main {
    margin-top: 130px
}


.lca-banner-video-link {
    display: block;
}

.lca-banner-video {
    width: 100%;
    z-index: -1;
    position: relative;
}

.lca-voice-icon {
    position: absolute;
    height: 36px;
    width: 36px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    top: 16px;
    right: 170px;
}

.lca-voice-icon svg {
    fill: #ffffff;
}

.lca-icon-muted {
    display: none;
}

.lca-voice-icon.muted .lca-icon-muted {
    display: block;
}

.lca-voice-icon.muted .lca-icon-unmuted {
    display: none;
}

.lca-games {
    padding-top: 12px;
}

.lca-games-container {
    grid-auto-rows: 1fr;
}

.lca-category-title {
    padding: 10px 15px;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 8px;
    letter-spacing: 1.2px;
    border-radius: 4px;
}

.lca-games-lobby {
    padding-top: 8px;
    padding-bottom: 1px;
}

.lca-games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row dense;
}

.lca-card-wrapper {
    padding: 0 2px 4px;
    padding-left: 2px;
    flex-shrink: 0;
    border-radius: 8px;
}

.lca-card-wrapper-50 {
    width: calc(50vw - 15px);
}

.lca-card-wrapper-100 {
    grid-column: span 2;
}

.lca-card-wrapper-100 .lca-card-footer {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
}

.lca-card {
    border-radius: 10px;
    font-size: 9px;
    position: relative;
}

.lca-card-wrapper-hx2 {
    grid-row: span 2;
}

.lca-card-wrapper-hx2 .lca-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.lca-card-body-img {
    object-fit: cover;
    object-position: left;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.lca-card-body-wrapper {
    position: relative;
    padding-top: 69%;
}

.lca-card-wrapper-hx2 .lca-card-body-wrapper {
    flex-grow: 1;
    padding-top: 137%;
}

.lca-card-wrapper-100 .lca-card-body-wrapper {
    padding-top: 32.7%;
}

.lca-card-body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.lca-card-badge-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lca-card-badge {
    color: #fff;
    padding: 5px 8px;
    text-transform: uppercase;
    margin: 4px 4px 0;
    border-radius: 4px;
}

.lca-card-badge.type-1 {
    font-weight: bold;
    background-color: #0006B8;
    color: #FFFFFF;
}


.lca-card-badge.type-2 {
    background-color: #BF2A39;
}

.lca-card-badge.type-4 {
    background-color: #2C8407;
}

.lca-card-badge.type-5 {
    background-color: #3B87E0;
}

.lca-card-header {
    padding: 0 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 20px;
    align-items: center;
}

.lca-card-header p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
}

.lca-card-flag {
    width: 12px;
    height: 12px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: -2px;
    vertical-align: middle;
}


/*Russian*/
.lca-card-flag.ru {
    background-position-y: -12px;
}

/*English*/
.lca-card-flag.en {
    background-position-y: -24px;
}

/*Armenian*/
.lca-card-flag.hy {
    background-position-y: -36px;
}

/*Turkish*/
.lca-card-flag.tr {
    background-position-y: -48px;
}

/*Bosnia and Herzegovina*/
.lca-card-flag.bs {
    background-position-y: -60px;
}

/*Farsi (iran) basketball logo*/
.lca-card-flag.fa-basketball {
    background-position-y: -72px;
}

/*Kuwait*/
.lca-card-flag.kw {
    background-position-y: -84px;
}

/*Serbia*/
.lca-card-flag.sr {
    background-position-y: -96px;
}

/*Croatia*/
.lca-card-flag.hr {
    background-position-y: -108px;
}

/*Ukraine*/
.lca-card-flag.uk {
    background-position-y: -120px;
}

/*iraqi kurdistan*/
.lca-card-flag.ku {
    background-position-y: -132px;
}

/*Israel*/
.lca-card-flag.il {
    background-position-y: -144px;
}

/*Spanish (spain)*/
.lca-card-flag.es-spanish {
    background-position-y: -156px;
}

/*Italy*/
.lca-card-flag.it {
    background-position-y: -180px;
}

/*France*/
.lca-card-flag.fr {
    background-position-y: -192px;
}

/*Germany*/
.lca-card-flag.de {
    background-position-y: -204px;
}

/*Korea (the Republic of)*/
.lca-card-flag.kr {
    background-position-y: -216px;
}

/*Denmark*/
.lca-card-flag.dk {
    background-position-y: -228px;
}

/*Finland*/
.lca-card-flag.fi {
    background-position-y: -240px;
}

/*Czechia*/
.lca-card-flag.cs {
    background-position-y: -252px;
}

/*Sweden*/
.lca-card-flag.sv {
    background-position-y: -264px;
}

/*Georgia*/
.lca-card-flag.ka {
    background-position-y: -276px;
}

/*Norway*/
.lca-card-flag.no {
    background-position-y: -288px;
}

/*China*/
.lca-card-flag.zh {
    background-position-y: -300px;
}

/*China*/
.lca-card-flag.zh-cht {
    background-position-y: -312px;
}

/*Thailand*/
.lca-card-flag.th {
    background-position-y: -324px;
}

/*Kazakhstan*/
.lca-card-flag.kk {
    background-position-y: -336px;
}

/*Azerbaijan*/
.lca-card-flag.az {
    background-position-y: -348px;
}

/*Brazil*/
.lca-card-flag.br {
    background-position-y: -360px;
}

/*Japan*/
.lca-card-flag.ja {
    background-position-y: -372px;
}

/*India*/
.lca-card-flag.hi {
    background-position-y: -384px;
}

/*Pakistan*/
.lca-card-flag.pk {
    background-position-y: -396px;
}

/*Lithuania*/
.lca-card-flag.lt {
    background-position-y: -408px;
}

/*Tunisia*/
.lca-card-flag.aeb {
    background-position-y: -420px;
}

/*Viet Nam*/
.lca-card-flag.vn {
    background-position-y: -432px;
}

/*Uzbekistan*/
.lca-card-flag.uz {
    background-position-y: -444px;
}

/*Poland*/
.lca-card-flag.pol {
    background-position-y: -468px;
}

/*Albania*/
.lca-card-flag.al {
    background-position-y: -480px;
}

/*Ethiopia*/
.lca-card-flag.et {
    background-position-y: -492px;
}

/*Spanish*/
.lca-card-flag.es {
    background-position-y: -504px;
}

/*Korea (the Republic of)*/
.lca-card-flag.ko {
    background-position-y: -516px;
}

/*Iran(Farsi)*/
.lca-card-flag.fa {
    background-position-y: -528px;
}

/*Portugal*/
.lca-card-flag.pt {
    background-position-y: -540px;
}



.lca-card-footer {
    padding: 0px 8px 8px;
    border-radius: 0 0 10px 10px;
    align-items: center;
}

.lca-card-footer:not(.lca-card-wrapper-100 .lca-card-footer) {
    height: 57px;
}

.lca-card-price {
    font-size: 11px;
    max-width: 100%;
    text-align: right;
}

.lca-card-price.currency_icon {
    margin-left: 2px;
}

.star_icon.active,
.lca-card-price-no-border {
    border: none;
}

.lca-card-wrapper-100 .lca-card-footer-btns {
    width: calc(50vw - 19px);
}

.lca-card-footer-btn {
    height: 24px;
    width: calc(50% - 8px);
    padding: 3px 4px;
    border-radius: 4px;
}

.lca-card-likes {
    font-size: 12px;
}

.lca-card-promo-wrapper {
    white-space: nowrap;
}

.lca-card-promo-wrapper * {
    white-space: normal;
    word-break: break-all;
}

.lca-card-promo {
    width: calc(100vw - 30px);
    padding: 4px;
    display: inline-block;
}

.lca-card-promo:first-child {
    margin-left: 15px;
}

.lca-card-promo:last-child {
    margin-right: 15px;
}

.lca-promo-title {
    font-size: 16px;
    margin: 0 0 20px 5px;
}

.lca-promo-text-wrapper {
    padding-bottom: 35px;
}

.lca-promo-link {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    display: block;
    border-radius: 0 0 8px 8px;
}

.lca-card-promo-img {
    position: relative;
}

.lca-card-promo-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.lca-card-promo-img img {
    border-radius: 8px 8px 0 0;

}

/*Menu*/
.lca-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.lca-menu-item {
    padding: 0 4px;
    flex-shrink: 0;
}

.lca-menu-link {
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.lca-menu-badge {
    position: absolute;
    font-size: 10px;
    padding: 0 5px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    right: -7px;
    top: -4px;
}


/*Submenu*/
.lca-submenu {
    padding-top: 6px;
    padding-bottom: 6px;
}

.lca-submenu-item {
    flex-shrink: 0;
}

.lca-line {
    margin: 0 2px;
    color: rgba(153, 153, 153, 0.5);
}

.lca-submenu-link.active .lca-line {
    color: rgba(153, 153, 153, 0.5);
}

.lca-submenu-link {
    padding: 4px;
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
}

.lca-submenu-link .lca-menu-badge {
    top: -6px;
}

.lca-submenu-item span {
    display: inline-block;
}

/*Search*/
.lca-input {
    border-radius: 4px;
    width: 100%;
    padding: 0 16px;
    border: none;
    min-height: 44px;
    line-height: 44px;
}

.lca-search-input {
    margin-top: 15px;
}

.lca-main-content .blinking_cursor {
    top: 13px;
    left: 15px;
}

.lca-search-input:focus~.blinking_cursor {
    display: none;
}

.lca-search-back {
    padding: 25px 0 10px;
}

.lca-filter-content {
    padding-bottom: 10px;
}

.lca-filter-section {
    margin: 20px 0;
}

.lca-filter-toggle {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.lca-filter-range-wrapper {
    margin: 8px 0 25px;
    position: relative;
    text-transform: uppercase;
}

.lca-filter-range-divider {
    display: block;
    width: 12px;
    height: 2px;
    flex-shrink: 0;
    margin: 0 8px;
}

.lca-filter-range {
    position: relative;
    margin: 0 25px;
}

.lca-filter-price {
    border-radius: 4px;
    width: 160px;
    padding: 0 4px;
    font-size: 14px;
    max-width: calc(50% - 14px);
}

.lca-filter-price-input {
    background: none;
    border: none;
    padding: 0 !important;
    font-size: 14px;
    min-height: 36px;
    line-height: 36px;
    text-align: right;
    flex-grow: 1;
    margin: 0 8px;
}

.lca-filter-category-item {
    border-radius: 30px;
    margin: 0 10px 10px 0;
    padding: 14px 20px;
    line-height: 1;
    transition: all 0.2s ease;
}

.lca-filter-category-item.more {
    padding: 14px 16px;
}

.lca-filter-footer {
    box-shadow: 0 -5px 7px #00000099;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    z-index: 11;
    bottom: 74px;
    left: 0;
}

.lca-filter-footer-btn {
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    text-align: center;
    padding: 14px 0;
    text-transform: uppercase;
}

.lca-filter-footer-col {
    padding: 0 3px;
}

/*Search result*/

.lca-filter-games {
    margin-bottom: 10px;
}

.lca-search-result-title {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 15px;
}


@media all and (max-width: 350px) {
    .lca-search-result-title {
        font-size: 17px;
    }
}

.lca-search-result-filter {
    margin-bottom: 5px;
}

.lca-search-result-games {
    margin: 20px 0;
}

.lca-dropdown-container {
    position: relative;
    margin: 10px 0;
}

.lca-dropdown {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 11;
    padding: 5px 15px;
    min-width: 145px;
}

.lca-dropdown-item {
    display: block;
    padding: 4px 0;
    font-size: 12px;
    letter-spacing: 1.2px;
    margin: 5px 0;
}

.lca-divider {
    border-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.lca-search-result-subtitle {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 0;
    display: block;
}

.lca-card-more {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.lca-filter-no-result {
    margin-top: 60px;
}

.lca-filter-no-result p {
    font-size: 16px;
    text-align: center;
}

.lca-filter-no-result .ic_search {
    font-size: 53px;
    display: block;
    font-family: iconsFont;
    text-align: center;
}

.lca-filter-no-result p {
    line-height: 1.5;
}

.lca-info-content {
    z-index: 999;
    color: #fff;
    font-size: 18px;
    position: fixed;
    left: 50%;
    top: 40%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(126, 127, 130, 0.84);
    padding: 8px;
    border-radius: 8px;
}

/*Promos*/
.lca-main-content .promo_mobile_cont {
    border-radius: 10px;
    overflow: hidden;
}

.lca-main-content .promo_img {
    padding: 0;
}

.lca-main-content .promo_mobile_text_cont {
    margin: 0;
    padding: 0 15px 25px;
}

.lca-main-content .promo_mobile_title {
    font-size: 16px;
    margin: 0 0 0 5px;
    font-weight: normal;
    padding: 0;
}

.lca-main-content .promo_mobile_descr {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
}

.lca-main-content .tl_promo_news_type {
    background-color: rgba(38, 38, 38, 0.8);
    font-size: 12px;
}

.lca-main-content .promo_live_casino_icon:before {
    content: ")";
}

.lca_search_container {
    min-height: 77vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*! nouislider - 14.6.2 - 9/16/2020 */
/* Functional styling;
    * These styles are required for noUiSlider to function.
    * You don't need to change these rules to apply your design.
    */
.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
}

.noUi-base,
.noUi-connects {
    width: 100%;
    height: 18px;
    position: absolute;
    top: -4px;
    z-index: 1;
}

/* Wrapper for all connect elements.
    */
.noUi-connects {
    overflow: hidden;
    z-index: 0;
}

.noUi-connect,
.noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    transform-origin: 0 0;
    transform-style: flat;
}

.noUi-connect {
    height: 6px;
    width: 100%;
    top: 8px;
}

.noUi-origin {
    height: 10%;
    width: 10%;
}

/* Offset direction
    */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
    left: auto;
    right: -9px;
}

/* Give origins 0 height/width so they don't interfere with clicking the
    * connect elements.
    */
.noUi-vertical .noUi-origin {
    width: 0;
}

.noUi-horizontal .noUi-origin {
    height: 0;
}

.noUi-handle {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.noUi-touch-area {
    height: 100%;
    width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Slider size and handle placement;
    */
.noUi-horizontal {
    height: 6px;
}

.noUi-horizontal .noUi-handle {
    width: 21px;
    height: 21px;
    right: -9px;
    top: -4px;
}


.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    right: -6px;
    top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
    left: 18px;
    right: auto;
}

/* Styling;
    * Giving the connect element a border radius causes issues with using transform: scale
    */
.noUi-target {
    border-radius: 4px;
}

.noUi-connects {
    border-radius: 3px;
}

/* Handles and cursors;
    */
.noUi-draggable {
    cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: ns-resize;
}

.noUi-handle {
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    cursor: default;
}

/* Disabled state;
    */
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

/* Base;
    *
    */
.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    color: #999;
}

/* Values;
    *
    */
.noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}

/* Markings;
    *
    */
.noUi-marker {
    position: absolute;
    background: #CCC;
}

.noUi-marker-sub {
    background: #AAA;
}

.noUi-marker-large {
    background: #AAA;
}

/* Horizontal layout;
    *
    */
.noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}

/* Vertical layout;
    *
    */
.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}

.noUi-tooltip {
    display: block;
    position: absolute;
    color: #fff;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    right: 120%;
}

.noUi-horizontal .noUi-origin>.noUi-tooltip {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
    left: auto;
    bottom: 10px;
}

.noUi-vertical .noUi-origin>.noUi-tooltip {
    -webkit-transform: translate(0, -18px);
    transform: translate(0, -18px);
    top: auto;
    right: 28px;
}

@media all and (min-width: 701px) {
    .lca-main-content .promo_mobile_text_cont {
        padding-top: 15px;
    }
}

/* Game preview */

.lca-game-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.lca-game-preview-header {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
}

.lca-game-preview-card {
    padding: 0 50px;
}

.lca-game-preview-title {
    color: #fff;
    font-size: 17px;
    margin: 16px 0;
}

.lca-game-preview-img {
    width: 100%;
    border-radius: 8px;
}

.lca-game-preview .lca-card-footer {
    background: transparent;
    padding: 0;
    height: auto !important;
}

.lca-game-preview .lca-card-footer-btn {
    justify-content: center;
}


.lca-game-preview-btn-block {
    padding: 0 50px;
    width: 100%;
}

.lca-game-preview-btn {
    text-align: center;
    width: 100%;
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    display: block;
    margin: 16px 0;
    cursor: pointer;
}

.lca-game-preview .lca-card-footer-btn {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

/*grid system*/
.grid_3 {
    grid-template-columns: repeat(1, 1fr);
    padding: 8px 14px;
}

.grid_3 .lca-card-wrapper {
    width: 100%;
}

.grid_3 .lca-card-footer-btn {
    width: auto;
    min-width: 84px;
}

.grid_3 .lca-card-footer-btns {
    width: 100%
}

.grid_3 .lca-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid_3 .lca-card-price-wrapper {
    width: 100%;
}

/*no card footer*/
.no_card_footer .lca-card-header {
    background-color: transparent;
}

.no_card_footer .lca-card-wrapper:not(.lca-card-wrapper-hx2, .lca-card-wrapper-100) .lca-card-body-wrapper {
    padding-top: 67%;
}

.no_card_footer .lca-card-body-img {
    border-radius: 10px;
}

/*max-win */
.lca-card-maxwin {
    display: flex;
    align-items: center;
    text-shadow: 0px 0px 6px #000;
    height: 13px;
    max-width: 40%;
}

.lca-card-maxwin:before {
    font-family: iconsFont;
    content: "T";
    font-size: 19px;
    line-height: 1;

}

.lca-card-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    min-width: 50%;
    padding: 2px 5px;
    line-height: 0.8;
    min-height: 25px;
}

.lca-game-preview .lca-card-price-wrapper {
    padding: 20px 0;
}

.lca-game-preview .lca-card-maxwin:before {
    font-size: 24px;
}

.lca-card-maxwin span {
    padding: 0 5px;
    line-height: 14px;
}

/*badges*/
.badge_New .lca-menu-badge {
    background-color: #FFB700;
    color: #000;
}

.badge_Soon .lca-menu-badge {
    background-color: #4B9263;
    color: #fff;
}

.badge_Top .lca-menu-badge {
    background-color: #0006B8;
    color: #FFFFFF;
}

.badge_Hot .lca-menu-badge {
    background-color: #FF0000;
    color: #FFFFFF;
}

.badge_Premium .lca-menu-badge {
    background-color: #0638FF;
    color: #FFFFFF;
}

.lca-card-badge.type-3,
.badge_JackPot .lca-menu-badge {
    background-color: #6D24FF;
    color: #FFFFFF;
}

/*haven't game message*/
.lca-no-game {
    width: 100%;
    text-align: center;
    opacity: 0.7 !important;
    padding: 20px 0 30px;
    ;
    font-size: 17px;
}

.ic_no-game {
    font-size: 53px;
    display: block;
    font-family: iconsFont;
    text-align: center;
}

.ic_no-game::after {
    content: "Q";
}

/*global saerch in dynamic lobby*/
.lca_search_cont {
    position: relative;
    padding: 8px 12px 8px 12px;
    transition: .2s ease-in 0s;
    width: 54px;
    height: 54px;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.lca_search_cont.active {
    width: 100%;
    overflow: visible;
}

.lca_search_cont.active .lca_search__button {
    display: none;
}

.lca_search__button {
    padding: 0 10px;
}

.lca_search__icon:before {
    font-family: iconsFont;
    content: "\e911";
    -webkit-transition: 0.2s ease-in-out 0s;
    -o-transition: 0.2s ease-in-out 0s;
    transition: 0.2s ease-in-out 0s;
    font-size: 25px;
    display: inline-block;
}

.lca_search_input {
    background-color: rgba(49, 49, 49, 0.44);
    border-radius: 8px;
    border: none;
    color: inherit;
    padding-left: 18px;
    padding-right: 12px;
    min-height: 38px;
    line-height: 38px;
    padding-right: 40px !important;
}

.lca_close_icon:before {
    font-family: iconsFont;
    content: "\e906";
    font-size: 26px;
    display: inline-block;
    line-height: 1;
    display: block;
}

.lca_close_button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    padding: 5px;
    z-index: 10;
}

.lca_search_cont.active .lca_close_button {
    display: block;
}