/*all important styles*/
body,
#wrapper,
.bgMain {
    background-color: #141414;
    color: #fff;
    font-family: Roboto, sans-serif;
}

.heading {
    color: #fff;
    background-color: #292929;
    text-transform: uppercase;
}

.sub_heading {
    color: #F2EB8F;
}

/*header*/
.casino_h_link_cont .clr_sec {
    background: #141414;
}

.casino_links_tabs .home_icon:before {
    color: #ccc;
}

.casino_links_tabs a {
    font-size: 12px;
    color: #999;
    text-transform: capitalize;
}

.sliderControlsCont .slick-dots .slick-active button {
    background-color: #F2EB8F;
}

#header {
    background: #000000;
    height: 47px;
}

.LinkToLeftPanel:before {
    color: #FFF;
    font-size: 26px;
}

.LogoMobilePlatform {
    width: 130px;
    height: 40px;
    background-position: center;
}


.ic,
#header .txt {
    color: #ffffff;
    display: block;
}

#header .txt:last-child {
    color: #F2EB8F;
}

.go_to_right_menu {
    position: relative;
}

/*all buttons*/
.btn_sec {
    background-color: #161616 !important;
    color: #fff !important;
}

.btn_prim {
    background: rgb(246, 241, 149);
    background: linear-gradient(90deg, rgba(246, 241, 149, 1) 0%, rgba(190, 147, 68, 1) 100%);
    color: #000000 !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    height: 36px;
    line-height: 36px !important;
}

.platformMobLog.btn_sec {
    background-color: transparent !important;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: 500;
}

.platformMobReg.btn_prim {
    background-color: transparent !important;
    font-size: 12px;
    color: #F2EB8F !important;
    font-weight: 500;
    border-radius: 1px;
}

.platformMobReg,
.platformMobLog {
    border: none;
    padding: 0px 5px;
    text-transform: uppercase;
    margin: 0 2px;
    border-radius: 5px;
}

s

/*new landing homepage*/
.tl_popup_content {
    color: #fff;
}

.matches_block iframe {
    height: 405px;
}

.tl_nav_link {
    border-radius: 8px;
    min-height: 13vw;
}


.nav_title {
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: none;
}

.block_title {
    color: #F2EB8F;
    background: #262626;
}

/*footer*/
#footer {
    background: #000;
    padding: 30px 10px 140px;
}

.drop_down_lang {
    background: #292929;
    border-radius: 3px;
    color: #B3B3B3;
    height: 36px;
    line-height: 36px;
    width: 100%;
}

.toTopBox {
    background: #292929;
    color: #B3B3B3
}

.drop_down_lang__front_el {
    background: #292929;
    color: #B3B3B3;
    font-size: 14px;
    height: 36px;
}

.lang_width {
    margin: 0px 8px;
}

.call_us {
    padding: 0 15px;
    text-align: left;
}

.drop_down_lang_arrow:after {
    border-top: 5px solid #999;
    top: 16px;
}

.toWeb {
    height: 36px;
    background: #292929 !important;
    color: #B3B3B3 !important;
    line-height: 36px !important;
    text-transform: uppercase;
    display: block;
    margin-top: 16px;
}

.drop_down_lang_arrow {
    width: 100%;
}

.copy {
    color: #F2EB8F;
    font-size: 11px;
    margin: 30px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    margin: 30px 0 0;
    text-align: center;
    line-height: 1.5;
}

.plus18Icon,
.plus21Icon {
    margin: 0 12px;
    color: #B3B3B3
}

.social_icons {
    margin-top: 16px;
}

.social_icons a {
    display: block;
    width: 32px;
    height: 32px;
    background-size: 100% auto;
    margin: 0 6px;
    background-image: url(https://cdn-plat.apidigi.com/plat/prd/Img/partners/1129/socials.png);
}

.facebook {
    background-position: 0 0;
}

.insta {
    background-position: 0 -32px;
}

.youtube {
    background-position: 0 -64px;
}

/*left and right menu*/
.collapse_dropdown_leftmenu_btn:after {
    border-color: #fff transparent transparent transparent;
}

.left-logo:before {
    content: "\3c";
}

#left-panel {
    background: #1A1A1A;
}

#left-panel .menuBtn {
    background: #292929;
    color: #ffffff !important;
}

.left_menu_padd {
    padding: 40px 0 0;
}

.left-menu a:before {
    font-size: 24px;
}

.lm_link .lm_cashShow:before {
    content: '\E358';
    font-family: "iconsDinamicMenu";
    font-size: 38px;
}

.menuBtn {
    background: #F3F3F3;
    margin-bottom: 3px;
}

.menuBtnSm {
    background: #F3F3F3;
    color: #ffffff !important;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    margin-bottom: 3px;
    padding: 0 20px;
}

.menuBtn .txt {
    font-size: 12px;
    font-weight: 400;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn,
#right-panel .menuBtn {
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
    background: #292929;
    border: none;
}

.platformForgPass {
    color: #ffffff !important;
}

.menuRow {
    color: #ffffff !important;
    background: #292929;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-size: 12px;
}

.menuRow:not(.hidden) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuRow.menu_inbox {
    justify-content: flex-start;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    background-color: #161616 !important;
    color: #ffffff !important;
    padding: 0;
}

#right-panel .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content>.menuBtn {
    background: #262626;
    margin: 0;
    color: #999999 !important;
    border-bottom: 3px solid #1A1A1A;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12px;
}

#left-panel,
#right-panel .bgMain {
    font-family: Arial
}

#right-panel .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content .menuBtn:last-child {
    border-bottom: none;
}

#right-panel .menuBtn,
#right-panel .menuBtn a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    background-color: #292929;
    height: 36px;
}

#right-panel .ui-btn-icon-right:after {
    top: 17px !important;
}

.row {
    margin: 5px auto;
}

.right_menu_header {
    background: #292929;
    height: 40px;
}

.right_menu_close {
    color: #2D2D2D;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    right: 16px;
    top: 11px;
    background-color: #999999;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    text-align: center;
}

#right-panel #sidebar-user {
    background-color: #1A1A1A;
}

.account_title {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 14px;
    padding: 0 8px;
}

.sucMsgUpload {
    color: #008000;
    margin: 14px;
}

.playerId {
    margin: 12px 8px 24px;
    color: #FFFFFF;
}

.right_menu_logo {
    width: 141px;
    height: 37px;
    background-size: contain;
    margin: 5px auto 0;
    background-repeat: no-repeat;
}

#left-panel .menuBtnSm {
    color: #ffffff !important;
    background-color: #292929;
    font-weight: normal;
}

#registerForm .drop-down {
    font-size: 14px;
}

.phone_number_reg {
    width: 90px;
}

#phone {
    width: 100%;
    margin: 0 5px;
}

.reg_info {
    font-size: 12px;
    height: auto;
    line-height: 1.5;
    display: block;
    text-align: left;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    padding: 0 0 15px;
}

/*bonuses*/
#bonusesNavBar>.ui-link {
    background: #292929;
    color: #999999;
}

#bonusesNavBar>.ui-link.active {
    background: #161616;
    color: #fff;
}

#bonuses_content {
    color: #999999;
    padding: 30px 15px;
}

#bonuses_content .activate_btn {
    background-color: #161616 !important;
    color: #fff !important;
}

#privacyPolicyLink {
    color: #999999;
}

/*casino*/
.clr_sec {
    background-color: #161616;
}

.casino-tabs .clr_prim {
    background: #1A1A1A;
    color: #fff !important;
}

.clr_prim {
    background-color: #161616;
    color: #fff !important;
}

/*promotions*/
.promo_mobile_cont {
    background-color: #ddd;
}

.promo_mobile_title {
    color: #161616;
}

.promo_mobile_descr,
.promo_img {
    color: #999999;
}

/*inbox*/
.tl_mail_details_box {
    font-size: 10px;
}

.tl_mail_item {
    background: #161616;
    border-bottom: 1px solid #1A1A1A;
}

.tl_msg_button_cont {
    width: 100%;
}

.tl_mail_icon,
.tl_mail_details,
.tl_mail_details_title {
    color: #fff;
}

.tl_mail_header:before,
.tl_mail_message_cont .tl_mail_details {
    color: #999;
}

.tl_mail_row .tl_mail_msgId,
.tl_mail_rows_cont .tl_mail_msgId {
    color: #666666;
}

.tl_mail_message_cont .tl_mail_details_title {
    color: #F2EB8F;
}

.tl_mail_details_box {
    margin-top: 4px;
}

.tl_mail_msgId {
    color: #F2EB8F;
}

.tl_mail_item.unread {
    background: #1A1A1A;
}

textarea.ui-input-text:focus {
    outline: none;
}

textarea.ui-input-text {
    background-color: #292929 !important;
    color: #fff;
    min-height: 90px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.tl_mail_header:before {
    top: 7px;
}

.field-validation-error {
    margin-top: 10px;
    display: block;
}

#attachfile_btn {
    position: relative;
    padding-right: 25px;
    color: #B8B8B8;
    text-transform: uppercase;
}

#attachfile_btn:after {
    font-family: ProductIconsFont;
    content: "\A5";
    display: block;
    font-size: 22px;
    position: absolute;
    color: #999;
    right: 4px;
    top: 0;
    transform: rotate(90deg);
}

.tl_mail_attachfiel_screp {
    display: none;
}

.tl_mail_attachfiel_download_btn {
    background-color: #4D4D4D;
}

.tl_mail_attachfiel_screp,
.tl_mail_attachfiel {
    color: #999999;
}

.tl_mail_row {
    background: #EBEBEB;
}


.tl_mail_message_cont .ui-corner-all {
    margin: 20px 0 !important
}

.spcbtw .tl_mail_icon,
.spcbtw .tl_mail_details,
.spcbtw .tl_mail_details_title {
    color: #000;
}

.tl_mail_msgId .tf_arrow_icon:before {
    margin: 2px 4px 0 -6px;
    font-style: normal;
}

.tl_msg_button,
.upload_file_btn {
    color: #fff;
    background-color: #161616;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.tl_msg_attach_button {
    color: #fff;
    background-color: #222;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 3px;
}

.tl_mail_message_body,
.tl_mail_send_area {
    background: #292929;
    color: #fff;
}

.tl_mail_date_div {
    font-size: 12px;
}

.tl_mail_details_subject {
    color: #161616;
    margin-right: 4px;
}

.tl_mail_message_cont .flexend .tl_mail_attachfiel_content {
    position: absolute;
    top: 33px;
    left: -8px;
}

.tl_mail_message_cont .flexend.tl_mail_btn_cont {
    position: relative;
    padding-bottom: 25px;
}

/*deposit && withdrawal*/
.collapse_btn h3>a {
    background: #ddd;
}

.paym_txt,
.paym_cond>span {
    color: #999999;
}

.lbl-success {
    background: #161616;
}

.left-skillgames {
    text-transform: capitalize;
}

.hiddenContentButton.active i {
    transform: rotate(180deg);
}

.btn_affiliate {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0 0 25px 0;
}

.exchangeripg {
    width: 76px;
    height: 25px;
    background-image: url(./img/Casino-images-allinone.png);
    background-position: -7935px -153px;
}

.envoyhizlihavale {
    width: 74px;
    height: 24px;
    background-image: url(./img/Casino-images-allinone.png);
    background-position: -4638px -153px;
}

.paymee {
    width: 72px;
    height: 25px;
    background-image: url(./img/Casino-images-allinone.png);
    background-position: -5258px -59px;
}

.sobflous {
    width: 70px;
    height: 25px;
    background-image: url(./img/Casino-images-allinone.png);
    background-position: -5328px -59px;
}

#countryphonecode_wraper {
    width: 86px;
    margin-bottom: 3px;
}

/*inputs optimisation*/
input,
.reg_input,
.tl_mail_send_area,
.custon_select__front_el,
.drop-down,
.drop-down-small,
#content_paym .ui-select span,
#content_paym .ui-select select,
.favorite_amounts>div,
.reg__checkboxes_row,
.reg__gender_row label,
.profile_container .reg__gender_row label {
    background-color: #303030;
    color: #FFFFFF;
}

.reg__row_title,
.profile_container label,
.transfer2friend_cont label,
#content_paym label,
.forgot_pass__row label,
.r_login__row label,
.changepass__element_row label,
.search_popup_row label {
    color: #a3a3a3;
}

.phone_number_inp_reg {
    width: calc(100% - 95px);
    margin-left: auto;
}

.accRowClr td,
.accRowClr td a {
    background-color: #292929;
}

.accRowClr td,
.accRowClr td a {
    color: #ccc;
}

/*tournament*/
.tour__leaderboard_table_me {
    border-bottom: 2px solid #161616;
}

.tr_col_me {
    color: #161616;
}

/*casino game tabs*/
.col_game_tabs .New:after {
    top: 4px;
    right: 5px;
}

.col_game_tabs a,
.new_livecs_container .tl_game_tab_item {
    background-color: #292929;
}

#backToLobby {
    color: #979797 !important;
}

.promoted.tr .txt:after {
    right: -10px;
}

.casino_h_link_cont .promoted span:after {
    top: -23px;
    right: -15px !important;
}

.reg_footer_text {
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0;
    list-style-type: disc;
    padding-left: 14px;
    text-indent: -5px;
}

/*new redesign styles*/
body,
#wrapper {
    background: #141414;
    color: #fff;
    font-size: 12px !important;
}

.landing_contet {
    background-color: #141414;
}

.name_vidget {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.with_shadow_slider .slick-slide {
    -webkit-box-shadow: inset 0px -72px 40px -22px #141414;
    -moz-box-shadow: inset 0px -72px 40px -22px #141414;
    box-shadow: inset 0px -72px 40px -22px #141414;
}

/*/slider*/

.nav_title {
    background: transparent;
    font-size: 14px;
    color: #fff;
}

.block_title {
    color: #F2EB8F;
    background: #2B2B2B;
}

.nav_item>img {
    padding: 16px 23px 40px;
    max-height: 25vw;
    object-fit: contain;
}

.nav_item {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

/*games containers*/
.favorite_see__notlogin_text {
    color: #F2F2F2;
}

/*casino navigation*/

.fixed_menu__play_button {
    background: #000;
}

.menu_circle:before {
    box-shadow: 4px 3px 40px 1200px #000;
}

.fixed_menu__li.active svg .yellow,
.fixed_menu__li.active .fixed_menu__play_button,
.fixed_menu__li.active {
    color: #F2EB8F;
}

.casino_nav__links_block {
    background: #000;
}

.links_block_x_scroll_hidden::before {
    background: #000;
    -webkit-box-shadow: 0 0 30px 29px rgba(12, 12, 12, .85);
    -moz-box-shadow: 0 0 30px 29px rgba(12, 12, 12, .85);
    box-shadow: 0 0 30px 29px rgba(12, 12, 12, .85);
}

.casino_nav__links_block a {
    color: #fff;
}

.casino_nav__links_block a.active {
    color: #F2EB8F;
}

/*play page promotions*/
.play__promo_mobile_li {
    background-color: #262626;
}

.play__promo_img_shadow::after {
    -webkit-box-shadow: inset 0px -145px 40px -104px rgba(38, 38, 38, 1);
    -moz-box-shadow: inset 0px -145px 40px -104px rgba(38, 38, 38, 1);
    box-shadow: inset 0px -145px 40px -104px rgba(38, 38, 38, 1);
}

.play__promo_title {
    color: #fff;
}

.play__promo_descr {
    color: #CCCCCC;
}

/*filter and search*/
#searchContent .popup_flex_box {
    background: #141414;
    box-shadow: 0px 0px 320px 320px #141414;
}

#casino_filter_popup {
    background-color: #000;
}

.search_switcher {
    background-color: #cfcfcf;
}

.search_switcher:before {
    background-color: #fff;
}

.checked .search_switcher {
    background-color: #F2EB8F;
}

.search__icon::after {
    color: #707070;
}

.fr__sort_by_drpdwn_el {
    background-color: #000;
}

/*search part*/
.nc__heading {
    color: #ffffff;
}

.games_filter_popup .search_filter_input {
    background-color: #262626 !important;
    box-shadow: 0px 3px 6px #2B2B2B4D;
    color: #FFFFFF;
}

.games_filter_popup .seasch__game_not_found_mob::before {
    color: #666666;
}

.fs__input_wrap .close-search {
    color: #fff;
}

.fs__input_wrap .close-search:after {
    background: #fff;
}

.fs__input_wrap .close-search:before {
    background: #fff;
}

.game__link_demo {
    background: #111;
    color: #fff;
}

/*icons opened game info*/
.star__icon.deletfavorite:after {
    color: #F2EB8F;
    text-shadow: 0px 0px 6px #FF0000;
}

.like_icon:after {
    color: #fff;
}

.star__icon {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.jackpot__value span {
    color: #F2EB8F;
}

.component_jackpot_slider {
    text-shadow: 0px 0px 6px #FF0000;
}

.close__game__more_block::after {
    color: #fff;
}

.game__link_play {
    background: rgb(246, 241, 149);
    background: linear-gradient(90deg, rgba(246, 241, 149, 1) 0%, rgba(190, 147, 68, 1) 100%) !important;
    color: #000;
}

.game__link_demo {
    background: #111;
    color: #fff;
}

.game__like {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

.game__name {
    text-shadow: 0px 0px 6px #F14100;
}

/*filer*/
.games_filter_title {
    color: #ffffff;
    background-color: #333;
}

.games_filter_element,
.games_filter_list_show {
    background-color: #333;
}

.games_filter_element.active {
    background: #F2EB8F;
    color: #262626;
}

.filter__more_games {
    color: #fff;
    background: #000;
}

.filter_result__go_back {
    color: #707070;
}

.games_filter_popup__footer {
    background-color: #262626;
}

.games_filter_reset {
    background-color: #161415;
}

.games_filter_show {
    background: rgb(246, 241, 149);
    background: linear-gradient(90deg, rgba(246, 241, 149, 1) 0%, rgba(190, 147, 68, 1) 100%) !important;
    color: #000
}

/*training animate*/
.training__block_circle {
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 7px 0 #FF0000, 0 0 0 3000px rgba(0, 0, 0, 0.7);
}

.training__info {
    color: #333;
    background: #fff;
}

.training__block_circle:before {
    border: 20px solid transparent;
    border-top: 20px solid #fff;
}

.training__next {
    color: #F2EB8F;
}

#searchContent .popup_flex_box {
    height: calc(100% - 150px);
    padding-top: 0;
}

div.nc__slider_block.w100 {
    min-height: 160px;
}

.top_jackpots__block,
.top_jackpots__name {
    background: rgba(0, 0, 0, 0.7);
    color: #F2EB8F;
}

.top_jackpots__value,
.top_jackpots__crns {
    color: #F2EB8F !important;
    text-shadow: 0px 0px 4px #F2EB8F;
}

.filters_slider_cont {
    background-color: #292929;
}

/*Live casino skinning*/
.lca-main-content {
    background-color: #141414;
    color: #fff;
}

/*Menu*/
.lca_search_cont,
.lca-menu {
    background-color: #000;
}

.lca-menu-link {
    color: #fff;
}

.lca-menu-link.active {
    background-color: #F2EB8F;
    color: #000;
}

.lca-menu-link.active .lca-menu-badge {
    background-color: #3a3939;
    color: #F2EB8F;
}

.lca-menu-badge {
    background-color: #F2EB8F;
    color: #000;
}

/*Submenu*/
.lca-submenu {
    background-color: #545252;
    color: #fff;
}

.lca-submenu-link {
    color: #cccccc;
}

.lca-submenu-link.active {
    color: #F2EB8F;
}

/*Game card*/
.lca-card-footer {
    background-color: #3a3939;
    color: #fff;
}

.lca-card-footer-btn .star_icon.active,
.lca-card-price {
    color: #F2EB8F;
}

.lca-card-footer-btn {
    background-color: #545252;
    color: #fff;
}

.lca-card-footer-btn .like_icon:after,
.lca-card-footer-btn .star_icon {
    color: #fff;
}

.lca-category-title {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.lca-main-content .star_icon.active:after {
    color: #141414;
    text-shadow: 0px 0px 6px #f39e4f;
}

.lca-card-badge.type-1 {
    background-color: #F2EB8F;
    color: #000;
}

/*Filter and search*/
.lca-title {
    color: #fff;
}

.lca-input {
    background-color: #333;
    color: #cccccc;
}

.lca-filter-toggle {
    color: #fff;
}

.lca-filter-price {
    background-color: #333;
    color: #fff;
}

.lca-filter-price-input {
    color: #fff;
}

.lca-filter-range-divider {
    background-color: #F2EB8F;
}

.lca-main-content .noUi-target {
    background: #3D3D3D;
}

.lca-main-content .noUi-connect {
    background: #F2EB8F;
}

.lca-main-content .noUi-handle {
    border-color: #3D3D3D;
    background: #F2EB8F;
}

.lca-filter-category-item {
    background-color: #333;
    color: #fff;
}

.lca-filter-category-item.active {
    background-color: #F2EB8F;
    color: #000;
}

.lca-search-result-title {
    color: #fff;
}

.lca-search-result-filter-item {
    color: #cccccc;
}

.lca-search-result-filter-item-description {
    color: #fff;
}

.lca-dropdown-toggle {
    color: #fff;
}

.lca-dropdown {
    background-color: #000;
    color: #fff;
}

.lca-dropdown-item {
    color: #fff;
}

.lca-back-link {
    color: #cccccc;
}

.lca-card-more-wrapper {
    background-color: #000;
    color: #fff;
}

.lca-card-more {
    color: #fff;
}

.lca-filter-footer {
    background-color: #262626;
    color: #fff;
}

.lca-filter-footer-btn-reset {
    background-color: #141414;
    color: #fff;
}

.lca-filter-footer-btn-show {
    background: linear-gradient(90deg, rgba(246, 241, 149, 1) 0%, rgba(190, 147, 68, 1) 100%) !important;
    color: #000;
}

/*Promotions*/
.lca-promo-text-wrapper {
    background-color: #3a3939;
    color: #fff;
}

.lca-promo-title {
    color: #fff;
}

.lca-main-content .promo_mobile_cont {
    background-color: #3a3939;
    color: #fff;
}

.lca-main-content .promo_mobile_title {
    color: #fff;
}

.lca-main-content .promo_mobile_text_cont {
    box-shadow: 0 -14px 29px 19px #3a3939;
}

.lca-card-promo-img::after {
    box-shadow: inset 0px -71px 39px -35px #3a3939;
}


.lca-main-content .star_icon.active:after {
    color: #F2EB8F;
    text-shadow: 0px 0px 6px #F2EB8F;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

/*top winners*/
.lca-top_winners__game,
.lca-top_winners_item_names.active {
    background: #000000;
}

.lca-top_winners_item_names.active {
    color: #F2EB8F;
}

.lca-top_winners_type_content,
.lca-top_winners__page {
    background-color: #141414;
}

/*27.4.21 optims*/
body .bg-primary,
body .h-bg-primary {
    background: rgb(246, 241, 149);
    background: linear-gradient(90deg, rgba(246, 241, 149, 1) 0%, rgba(190, 147, 68, 1) 100%);
    color: #000;
}

body .h-bg-primary:hover {
    background: rgb(255, 251, 159);
    background: linear-gradient(90deg, rgba(255, 251, 159, 1) 0%, rgba(200, 157, 78, 1) 100%);
    color: #000;
}

body .text-primary {
    color: rgb(246, 241, 149);
}

body .bg-secondary,
body .h-bg-secondary {
    background-color: #292929;
    color: #B3B3B3;
}

body .h-bg-secondary:hover {
    background-color: #444;
    color: #B3B3B3;
}

body .bg-tert,
body .h-bg-tert {
    background-color: #292929;
    color: #fff;
}

body .h-bg-tert:hover {
    background-color: #000000;
    color: #fff;
}

.footer_download_btn_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.footer_download_btn {
    height: 36px;
    display: flex;
    text-align: center;
    align-items: center;
    color: #161616;
    font-size: 16px;
    font-family: roboto condensed;
    background-image: linear-gradient(#F6F094, #BF9445);
    text-transform: uppercase;
    padding: 0 14px;
    border-radius: 2px;
}

.footer_download_btn:before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
}

.document_upload_content #attachfile_btn {
    color: #000;
}

.document_upload_content #attachfile_btn:after {
    display: none;
}

/*very new bonus*/
.bonus_card_body {
    background-color: #282828;
}