.full_width {
    width: 100%
}

.tl_full_img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto
}

.full_img_parent>img {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto
}

.flex_grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.flex_parent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.new_cont {
    margin-top: 10px
}

.new_cont p {
    margin: 0
}

.tl_nav_link {
    width: 50%
}

.nav_item {
    width: 100%;
    max-height: 100%;
    height: auto;
    background: #2b2b2b;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}

.nav_item>img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover
}

.nav_title {
    width: 100%;
    height: 44px;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    text-shadow: 0 0 6px #e0be00;
    font-size: 16px;
    line-height: 44px;
    background: rgba(22, 20, 21, .5);
    margin: auto;
    left: 0;
    right: 0;
    color: #f6f6f6
}

.block_title {
    color: #e0be00;
    font-size: 12px;
    border-bottom: 2px solid;
    background: #161824;
    padding: 14px 34px;
    text-transform: uppercase;
    margin-top: 16px;
    position: relative;
    letter-spacing: -.9px
}

.block_title:before {
    content: "O";
    position: absolute;
    top: -2px;
    left: 18px;
    text-align: center;
    line-height: 44px;
    font-family: ProductIconsFont !important;
    font-style: normal;
    font-weight: normal;
    display: block;
    font-size: 12px;
    position: absolute;
    text-transform: none
}

.casino_top {
    flex-direction: column
}

.tabs_cont_item {
    height: 44px;
    background: #4e4e4e;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    padding: 0 34px;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
}

.casino_top_balance {
    color: #ffb700;
    text-shadow: 0 0 4px rgba(255, 0, 0, 1);
    font-size: 20px;
    line-height: 44px
}

.casino_top_egt {
    /*background-image: url(/img/Mobile/partners/2/EGT.png);*/
    background-position: center center;
    background-size: 100%;
    width: 49px;
    height: 26px;
    margin-top: 9px
}

.tl_casino_ic {
    width: 25px;
    position: absolute;
    left: 90px;
    top: 10px
}

.tabs-content>div {
    display: none
}

.tabs-content .js-active-tab {
    display: block
}

.tabs-menu {
    width: 100%;
    background: #2b2b2b;
    margin: 0
}

.tabs-menu .js-tab {
    display: inline-block;
    color: #666;
    height: 100%;
    font-size: 12px;
    line-height: 44px;
    padding: 0 16px;
    text-transform: uppercase;
    cursor: pointer
}

.tabs-menu .js-active-tab {
    background: #4e4e4e;
    color: #fff
}

.matches_tab_block {
    flex-shrink: 1;
    flex-basis: 391px;
    height: 184px;
    background: #666;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}

.casino_game_banner,
.live_casino_game_banner {
    overflow: hidden;
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3)
}

.slot_banners>.casino_game_banner img,
.game_banners>.live_casino_game_banner img {
    width: 100%;
    height: auto
}

.closedPanel {
    height: 62px;
    overflow: hidden;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.closedPanel>.block_title:before {
    content: 'k' !important
}

.platformMobReg {
    background: transparent !important;
    color: #e0be00 !important;
    text-transform: uppercase;
    font-weight: lighter;
    width: auto;
    letter-spacing: -.7px;
    padding-right: 25px
}

.footer_cont {
    max-width: 328px;
    margin: 0 auto
}

.phone_lang_cont {
    justify-content: space-between
}

.call_us,
.drop_down_lang {
    width: 156px;
    height: 44px;
    background: #262933;
    color: #b3b3b3;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 44px;
    border: none
}

.call_us img {
    max-width: 18px;
    margin-right: 13px;
    vertical-align: middle
}

.drop_down_lang__front_el {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    font-size: 16px;
    text-transform: uppercase
}

.drop_down_lang {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 15px
}

.drop_down_lang_arrow {
    position: relative
}

.drop_down_lang_arrow:after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
    position: absolute;
    right: 9px;
    top: 20px
}

.call_us a {
    color: #b3b3b3
}

.footer_links {
    justify-content: space-between
}

.footer_links>div {
    width: 156px;
    margin: 24px 0
}

.footer_links a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 12px;
    display: block;
    text-align: left;
    line-height: 29px
}

.footer_links>div:first-child a {
    text-align: right
}

.toWeb {
    height: 44px;
    background: #333;
    color: #b3b3b3 !important;
    line-height: 44px !important;
    text-transform: uppercase
}

.footer_payments .frow {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px
}

.payment_title {
    font-size: 10px;
    color: #666;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.5px
}

.copy {
    color: #ffb700;
    font-size: 10px
}

.new_fic.mature {
    background-position: -195px 0;
    margin: 16px auto;
    width: 23px;
    height: 24px
}

.cls-2 {
    fill: #eb2227
}

.cls-21 {
    fill: #020202;
    fill-rule: evenodd
}